<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeacherApp"
        tools:targetApi="31">
        <activity
            android:name=".adminPanel.activities.RoomOfStudentAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.ExtraActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.TeachersDetaislActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.ViewAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.AssignDutyTOTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.MainAssignRoomActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.StudentAssignSeatsActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.AdminLogoutActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.AdminUpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.AssignRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.AssignSeatsActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.UploadDutySheetActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.UploadDateSheetActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.StudentListActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.innerActivities.TeacherListActivity"
            android:exported="false" />
        <activity
            android:name=".adminPanel.activities.AdminDashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacherPanel.activities.StudentAttendanceActivity"
            android:exported="true" />
        <activity
            android:name=".StudentPanel.activities.CreateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".StudentPanel.activities.StudentsDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".teacherPanel.activities.TeacherDetailCheckActivity"
            android:exported="false" />
        <activity
            android:name=".teacherPanel.activities.TeacherDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".StudentPanel.activities.StudentDetailCheckActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPanel.activities.StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPanel.activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPanel.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPanel.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splashScreen.MySplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>